# Capítulo 7 - Regras de associação

## Bibliotecas básicas e outras inicializações

In [1]:
import warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

warnings.filterwarnings('ignore')

## Carregamento dos dados

In [2]:
dados = pd.read_csv('./datasets/GroceryStoreDataSet.csv', names=['products'], sep=',')
dados['products'] = dados['products'].apply(lambda x : x.lower())
print(f'Linhas: {dados.shape[0]} | Colunas: {dados.shape[1]}')
dados.head()

Linhas: 20 | Colunas: 1

                        products
0             milk,bread,biscuit
1  bread,milk,biscuit,cornflakes
2            bread,tea,bournvita
3           jam,maggi,bread,milk
4              maggi,tea,biscuit

## Preparação da base

In [3]:
data = list(dados['products'].apply(lambda x:x.split(',') ))
data[:3]

[['milk', 'bread', 'biscuit'],
 ['bread', 'milk', 'biscuit', 'cornflakes'],
 ['bread', 'tea', 'bournvita']]

In [4]:
from mlxtend.preprocessing import TransactionEncoder

transEncoder = TransactionEncoder()
a_data = transEncoder.fit(data).transform(data)
dados = pd.DataFrame(a_data, columns=transEncoder.columns_)
dados = dados.replace(False, 0)
dados = dados.replace(True, 1)
dados.head()

,biscuit,bournvita,bread,cock,coffee,cornflakes,jam,maggi,milk,suger,tea
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1

### Algoritmo APRIORI

In [9]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

frequent_itemsets = apriori(dados, min_support=0.2, use_colnames=True)
frequent_itemsets

    support              itemsets
0      0.35             (biscuit)
1      0.20           (bournvita)
2      0.65               (bread)
3      0.40              (coffee)
4      0.30          (cornflakes)
5      0.25               (maggi)
6      0.25                (milk)
7      0.30               (suger)
8      0.35                 (tea)
9      0.20      (bread, biscuit)
10     0.20         (bread, milk)
11     0.20        (bread, suger)
12     0.20          (bread, tea)
13     0.20  (cornflakes, coffee)
14     0.20       (coffee, suger)
15     0.20          (tea, maggi)

In [10]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(bread),(milk),0.65,0.25,0.2,0.307692,1.230769,0.0375,1.083333
1,(milk),(bread),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000
2,(bread),(suger),0.65,0.30,0.2,0.307692,1.025641,0.0050,1.011111
3,(suger),(bread),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000
4,(cornflakes),(coffee),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
5,(coffee),(cornflakes),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
6,(coffee),(suger),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
7,(suger),(coffee),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
8,(tea),(maggi),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000
9,(maggi),(tea),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000