# Capítulo 7 - Regras de associação

## Bibliotecas básicas e outras inicializações

In [1]:
import warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

warnings.filterwarnings('ignore')

## Carregamento dos dados

In [2]:
dados = pd.read_csv('./datasets/GroceryStoreDataSet.csv', names=['products'], sep=',')
dados['products'] = dados['products'].apply(lambda x : x.lower())
print(f'Linhas: {dados.shape[0]} | Colunas: {dados.shape[1]}')
dados.head()

Linhas: 20 | Colunas: 1

                        products
0             milk,bread,biscuit
1  bread,milk,biscuit,cornflakes
2            bread,tea,bournvita
3           jam,maggi,bread,milk
4              maggi,tea,biscuit

## Preparação da base

In [3]:
data = list(dados['products'].apply(lambda x:x.split(',') ))
data[:3]

[['milk', 'bread', 'biscuit'],
 ['bread', 'milk', 'biscuit', 'cornflakes'],
 ['bread', 'tea', 'bournvita']]

In [4]:
from mlxtend.preprocessing import TransactionEncoder

transEncoder = TransactionEncoder()
a_data = transEncoder.fit(data).transform(data)
dados = pd.DataFrame(a_data, columns=transEncoder.columns_)
dados = dados.replace(False, 0)
dados = dados.replace(True, 1)
dados.head()

,biscuit,bournvita,bread,cock,coffee,cornflakes,jam,maggi,milk,suger,tea
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1